@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "complianceLinc";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #2C3E50;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #1ABC9C;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #1ABC9C;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #34495E;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #1ABC9C;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #2ECC71;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #F39C12;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #E74C3C;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

p.login-error::before {
    display: inline;
    content: "⚠ ";
}